[submodule "Plugins/UnrealGenAISupport"]
	path = Plugins/UnrealGenAISupport
	url = https://github.com/laoliu/UnrealGenAISupport.git
	
[submodule "Plugins/PythonPluginNew"]
	path = Plugins/PythonPluginNew
	url = https://github.com/laoliu/PythonScriptPlugin.git
