[submodule "Plugins/UnrealEnginePython"]
	path = Plugins/UnrealEnginePython
	url = https://github.com/laoliu/UnrealEnginePython
[submodule "Plugins/GenerativeAISupport"]
	path = Plugins/GenerativeAISupport
	url = https://github.com/laoliu/UnrealGenAISupport.git